body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex; /*automaticamente as duas divs ficaram em linha, uma ao lado da outra*/
    justify-content: space-between;/*alinhamento justificado com espaço entre as divs, ficando cada uma numa extremidade*/
    align-items: center;
    padding: 30px;
    position: fixed;    
    left: 0;
    right: 0;
    top: 0;
}

header .logo {
    font-size: 25px;
    font-weight: bold;
    color: black;
}

header .menu {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header .menu-line {
    height: 3px;
    background-color: black;
}

.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.container .leftside {
    flex: 1;
    background-color: #f1cd92;
    display: flex;
    align-items: center;
    padding: 0px 30px;
}

.container .rightside {
    flex: 1;
    background-image: url('../images/perfil.jpg'); /*os  ..  significam que a imagem está uma pasta vizinha do css*/
    background-size: cover; /*ao inves de 100% center, cover melhora a responsividade*/
    background-position: center center;
    background-repeat: no-repeat;
}

.container .info {
    color: #000;
}

.container .info .profession {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}

.container .info .name {
    font-weight: bold;
    font-size: 75px;
    margin-top: 10px;
}

.container .info .buttons a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    background-color: #fff;
    color: #3b576d;
    padding: 20px 35px;
    font-size: large;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
    box-shadow: 0px 5px 10px  #171b1f52;
    border-radius: 5px;
    margin-right: 5px;
}

.container .info .buttons a.hire {
    color: #000;
}

.container .info .buttons a.more {
    color: #000;
    background-color: #fff;
}

.container .info .buttons a:hover {
    opacity: 0.8;

}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    color: #000;
    font-size: 13px;
}

footer a {
    color: #000;
}

@media (max-width: 925px) {

    header {
        position: initial;
        background-color: white;
        color: #3b576d;        
    }

    div.logo {
        color: #3b576d;
    }

    .container {
        flex-direction: column;
        height: calc(100vh - 89px);
    }

    .container .leftside {
        flex: none;
        padding: 30px 20px;
        justify-content: center;
        text-align: center;
    }

    footer {
        position: initial; /*mantém o texto bem próximo do rodapé*/
        background-color: #f1cd92;        
    }

    footer a {
        color: #000;
    }

    @media (max-width: 470px) {
        .container .leftside .info .name{
            font-size: 50px;
        }
        .container .leftside .info .buttons a {
            display: block;
            margin-right: 0px;

        }
    }
}
